// tables.scss

/*

[ ] create a default "text table" class 
[ ] create a default "data table" class
[ ] create a set of borders/colors for styling spreadsheets
[ ] or use a default table style and amend table.x or tr.x or td.x with classes
    such as tr.row_with_header, table.data_with_row_headers, etc. 
*/

.responsive-table {
  overflow: scroll;
}

table {
  border-collapse: collapse;
  td,th {
    border: 1px solid $light-gray;
    padding: 0.75em 1em;
    .center {
      text-align: center;
    }
    .rank {
      text-align: center;
      width: 1px;
    }
  }
  th {
    font-weight: 700;
  }
  &.fullwidth {
    width: 100%;
  }
}


table.data-table {
  td,th {
    text-align: right;
  }
  td:first-child, th:first-child {
    text-align: left;
  }
}

// Styles a table as an excel-style spreadsheet
.spreadsheet {
  td, th {
    border: 1px solid #aaa;
    padding: 0.33em;
  }
  td {
    background-color: #fff;
    text-align: right;
    &.text {
      text-align: left;
    }
  }
  th {
    border-bottom: 2px solid #aaa;
    font-weight: bold;
    text-align: left;
    width: 100px;
  }
  &.sample {
    td, th {
      width: 20px;
    }
  }
  &.sm-text {
    td, th {
      font-size: 0.75em;
    }
  }
  &.xs-text {
    td, th {
      font-size: 0.5em;
    }
  }

  td.spreadsheet-headers,
  th.spreadsheet-headers,
  tr.spreadsheet-headers th {
    border-bottom: 1px solid #aaa;
    background-color: #eee;
    text-align: center;
  }
  td.subheader {
    font-weight: bold;
    vertical-align: bottom;
  }
  td.spreadsheet-headers {
    width: 1px;
  }
}