// CUBIT STYLE CORE
@charset "utf-8";

$base_padding: 1em;
$base_margin: 1em;

@import 'color_palette';
@import 'base';
@import 'buttons';
@import 'forms';
@import 'media';
@import 'tables';
@import 'utilities';

@import 'admin_base';

// LAYOUT
.flex-grid {
  display: flex;
  &.vertical {
    flex-direction: column;
  }
  .col {
    flex: 1;
    margin: $base_margin;
    padding: $base_padding;
  }
  .col-2 {
    flex: 2;
    margin: $base_margin;
    padding: $base_padding;
  }
  .col-3 {
    flex: 3;
    margin: $base_margin;
    padding: $base_padding;
  }
  .col-4 {
    flex: 4;
    margin: $base_margin;
    padding: $base_padding;
  }

}
